.App {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}

@font-face {
  font-family: "codropsicons";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/codropsicons/codropsicons.eot");
  src: url("fonts/codropsicons/codropsicons.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/codropsicons/codropsicons.woff") format("woff"),
    url("fonts/codropsicons/codropsicons.ttf") format("truetype"),
    url("fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: 0;
  color: #444;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: #d1b790;
  outline: none;
}

a:hover,
a:focus {
  color: #bba077;
  outline: none;
}

/* Top Navigation Style */

.meta {
  font-size: 0.75em;
  line-height: 1;
  position: absolute;
  top: 1em;
  left: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  white-space: nowrap;
  border-top: 1px solid #d1b790;
}

.meta::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #d1b790;
}

.meta a {
  display: block;
  padding: 1em 1.35em;
  border: 1px solid #d1b790;
  border-top: 0;
}

.meta a:not(:last-child) {
  border-right: 0;
}

.codrops-icon {
  width: 4em;
}

.codrops-icon span {
  display: none;
}

.codrops-icon::before {
  font-family: "codropsicons";
  font-size: 1.15em;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop::before {
  content: "\e001";
  color: #09c;
}

.codrops-icon--prev::before {
  content: "\e004";
}

/* Demo links */

.demo-link {
  font-family: "Playfair Display";
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.demo-link--current {
  color: #bba077;
}

@media screen and (max-width: 40em) {
  .meta {
    right: 1em;
  }
  .demo-link {
    -webkit-flex: 1;
    flex: 1;
  }
}

.game-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
  background: linear-gradient(#e4e0ba, #f7d9aa);
}

.world {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.header h1 {
  font-family: "Playfair Display";
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.025em;
  color: #d1b790;
}

.header h1 span {
  font-size: 0.2em;
  font-style: italic;
  display: block;
  margin: 0 0 -1.5em -7em;
  letter-spacing: 0px;
}

.header h2 {
  font-size: 0.585em;
  margin: 0.25em 0;
  white-space: nowrap;
  text-indent: 1em;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #d6483b;
}

.score {
  width: 100%;
  margin: 2em 0 0;
  text-align: center;
  white-space: nowrap;
}

.score__content {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  vertical-align: top;
}

.score__content:nth-child(2) {
  border-right: 1px solid #d1b790;
  border-left: 1px solid #d1b790;
}

.score__label {
  font-size: 12px;
  position: relative;
  margin: 0 0 0.5em 0;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d1b790;
}

.score__value {
  font-family: "Playfair Display";
  font-weight: bold;
  color: #d1b790;
}

.score__value--level {
  font-size: 26px;
}

.score__value--dist {
  font-size: 30px;
}

.level-circle {
  position: absolute;
  left: 50%;
  width: 46px;
  margin: -37px 0 0 -23px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.score__value--energy {
  position: relative;
  width: 60px;
  height: 8px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #d1b790;
}

.energy-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  background-color: #f25346;
  -webkit-animation-name: none;
  animation-name: none;
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.message {
  font-weight: bold;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}

.message--replay {
  font-size: 1.25vw;
  bottom: 40vh;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  color: #d1b790;
  position: absolute;
  z-index: 99999999999999;
}

.message--instructions {
  font-family: "Playfair Display";
  font-size: 0.85em;
  bottom: 10vh;
  letter-spacing: 0.2em;
  color: #68c3c0;
}

.message--instructions > div:last-child {
  display: block;
  color: #d6483b;
  white-space: nowrap;
  margin-top: 0.3rem;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 40em) {
  .header {
    font-size: 0.75em;
    top: 6.5em;
  }
  .header h2 {
    letter-spacing: 0.65em;
  }
}

.reference-container {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.585em;
  color: #d1b790;
  font-weight: 600;
}
